@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    background-color: blue;
    width: 540px !important;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants {
    width: 540px !important;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .localisation {
    width: 540px !important;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-container {
    width: 540px !important;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    background-color: red;
  }
  header {
    width: 720px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants {
    width: 720px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fonctionnement {
    width: 720px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .localisation {
    width: 720px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-container {
    width: 720px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    width: 960px !important;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: green;
  }
  .localisation {
    width: 960px !important;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants {
    width: 960px !important;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fonctionnement {
    width: 960px !important;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-container {
    width: 960px !important;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1140px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: yellow;
  }
  .restaurants {
    width: 1140px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .localisation {
    width: 1140px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-container {
    width: 1140px !important;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

h3 {
  font-weight: 800;
  font-size: large;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}

p {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 2rem;
  width: 9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.localisation {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
}

.localisation nav {
  width: 100%;
  background-color: #D9D9D9;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.localisation nav input {
  background-color: #D9D9D9;
  margin-left: 1rem;
}

.localisation h2 {
  width: 60%;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.localisation span {
  width: 70%;
  text-align: center;
}

.button-pink {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 0.9rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 5px 10px 5px 0px #656565;
          box-shadow: 5px 10px 5px 0px #656565;
  border-radius: 20px;
  margin-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.button-pink:hover {
  -webkit-box-shadow: 5px 20px 5px 0px #656565;
          box-shadow: 5px 20px 5px 0px #656565;
  border-radius: 20px;
  background-clip: padding-box;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.8;
}

.fonctionnement {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonctionnement i {
  margin-right: 1rem;
  margin-left: 2.5rem;
  color: grey;
}

.fonctionnement h2 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.fonctionnement-nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonctionnement-nav li {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 0.9rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 5px 10px 5px 0px #656565;
          box-shadow: 5px 10px 5px 0px #656565;
  border-radius: 20px;
  counter-increment: li;
}

.fonctionnement-nav li::before {
  content: counter(li);
  color: white;
  background-color: #9356DC;
  text-align: center;
  border-radius: 50%;
  padding: 2.5px;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
}

.fonctionnement-nav ol {
  list-style: none;
  counter-reset: li;
}

.fonctionnement-nav li:hover {
  -webkit-box-shadow: 5px 20px 5px 0px #656565;
          box-shadow: 5px 20px 5px 0px #656565;
  border-radius: 20px;
  background-color: rgba(147, 86, 220, 0.4);
  background-clip: padding-box;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.restaurants {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.restaurants h2 {
  font-weight: 900;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 80%;
}

.restaurants .restaurants-article:hover {
  -webkit-box-shadow: 5px 20px 5px 0px #656565;
          box-shadow: 5px 20px 5px 0px #656565;
  border-radius: 20px;
}

.restaurants img {
  height: 8rem;
  width: 20rem;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants article {
  margin-bottom: 2rem;
  -webkit-box-shadow: 5px 10px 5px 0px #656565;
          box-shadow: 5px 10px 5px 0px #656565;
  border-radius: 20px;
}

.restaurants-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 4rem;
}

.restaurants-description i {
  padding-top: 1.5rem;
  padding-right: 2rem;
  margin: 0;
  font-size: 1.3rem;
  text-align: right;
}

.restaurants-description i:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 10rem;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.footer-container a {
  color: white;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.footer-container a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer-container h3 {
  font-family: 'Shrikhand' , sans-serif;
  font-weight: 400;
  margin-left: 1.5rem;
}

.photos-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  height: 17rem;
  width: 90%;
  margin: auto;
  margin: auto;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1.5rem;
}

.titres {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.titres i {
  margin-left: 2.5rem;
}

article section li {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  width: 20rem;
}

.nav-menue h2 {
  border-bottom: 4px solid #99E2D0;
  width: 10%;
  margin-left: 2rem;
  font-family: 'Roboto', sans-serif;
}

.nav-menue article {
  width: 90%;
  height: 4rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.nav-menue h3 {
  padding-top: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

.page-restaurants {
  background-color: #F2F2F2;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  width: 90%;
  margin: auto;
  margin-top: 13rem;
  padding-bottom: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page-restaurants span {
  font-family: 'Roboto', sans-serif;
}

.page-restaurants p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menue-prix {
  font-weight: bolder;
  margin-right: 1rem;
}

.button-commande a {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 0.9rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 5px 10px 5px 0px #656565;
          box-shadow: 5px 10px 5px 0px #656565;
  border-radius: 20px;
  padding-right: 4rem;
  padding-left: 4rem;
  font-family: 'Roboto', sans-serif;
}

.button-commande {
  margin: auto;
  width: 90%;
  text-align: center;
  margin-top: 3.5rem;
}

.button-commande a:hover {
  -webkit-box-shadow: 5px 20px 5px 0px #656565;
          box-shadow: 5px 20px 5px 0px #656565;
  border-radius: 20px;
  background-clip: padding-box;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.8;
}

.far.fa-check-circle {
  display: none;
}
/*# sourceMappingURL=style.css.map */