
// Mobile first xsmall 


@import "_mixin";
@import "_variables";

@import "_small.scss";
@import "_medium.scss";
@import "_large.scss";
@import "_xlarge.scss";


//PAGE ACCEUIL

//commun


h3{
 font-weight: 800;;
 font-size: large;
 margin-top: 0.5rem;
 margin-left: 1rem;
 margin-bottom: 0.4rem;
}

p
{
  margin-left: 1rem;
}

a{
  text-decoration: none;
  color: black;
}

//header pages restaurants + page acc

header {
  @include responsive-xsmall ;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.logo{
 height: 2rem;
 width:9rem;
 margin-bottom: 1rem;
 margin-top: 1rem;
 margin-left: 2rem;
}

//section localisation 

.localisation{

 @include responsive-xsmall;
 align-items: center;
 width: 90%;
 @include font-Roboto;
 background-color:#F2F2F2;

  nav{
   width:100%;
   background-color:#D9D9D9;
   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: center;
  
    input{
     background-color:#D9D9D9 ;
     margin-left: 1rem;
    }   
  }
}

.localisation h2{
 width: 60%;
 text-align: center;
 font-weight: 900;;
 font-size: 1.5rem;
 margin-bottom: 1rem;
 margin-top: 1rem;
}

.localisation span{
 width: 70%;
 text-align: center;
}

.button-pink
{
 @include button-localisation;
 @include box-shadow;
 margin-top:2rem;
 padding-right: 2rem;
 padding-left: 2rem;
  &:hover{
   @include box-shadow-hover;
   background-clip: padding-box;
   transition-duration: 0.3s;
   opacity: 0.8;
  }
}

//section fonctionnement


.fonctionnement{
  @include font-Roboto;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  i{
    margin-right: 1rem;
    margin-left: 2.5rem;
    color:grey ;
  }

  h2{
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.fonctionnement-nav{
  @include responsive-xsmall;
  
  li{
    @include button-fonctionnement;
    @include box-shadow;
    counter-increment: li;
  }
  li::before {
    content: counter(li); 
    color:white;
    background-color: $couleur-primaire;
    text-align: center;
    border-radius: 50%;
    padding: 2.5px;
    display: inline-block; 
    width: 1em;
    margin-left: -2em;
  }
  ol {
    list-style: none; counter-reset: li   
  }
}

.fonctionnement-nav li:hover {  
  @include box-shadow-hover;
 background-color: rgba(147, 86, 220, 0.4);
 background-clip: padding-box;
 transition-duration: 0.3s;
}


//section restaurants

.restaurants{
  @include responsive-xsmall;
  @include font-Roboto;
  padding-bottom: 2rem;
  align-items: center;
  background-color: #F2F2F2;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;

  h2{
  
   font-weight: 900;;
   font-size: 1.5rem;
   padding-bottom: 1rem;
   padding-top: 1rem;
   justify-content: left;
   width: 80%;
  }
 .restaurants-article:hover{
   @include box-shadow-hover
  }
  img{
    @include img-size;
  }
}

.restaurants article{
 margin-bottom: 2rem;
 @include box-shadow;
 width: 90%;
}

.restaurants-article{
 display: flex;
 flex-direction: column;
}

.restaurants-description
{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 height: 4rem;
}

.restaurants-description i{
 padding-top: 1rem;
 padding-right: 0;
 margin-right: 1.5rem;
 margin-top: 0.5rem;
 font-size: 1.3rem;
 text-align: right;

  &:hover{   
   background-image: linear-gradient($couleur-primaire, $couleur-secondaire);
   background-clip : text;
   -webkit-text-fill-color: transparent;
   font-weight: 900;
   transition-duration: 0.5s;  
  }
}

//footer

.footer-container {      
  @include responsive-xsmall;
  height: 10rem;
  background-color:black;
  color: white;
  @include font-Roboto;
  a{
    color: white;
    margin-top:0.5rem ;
    margin-left: 1.5rem;
    &:hover{
      background-image: linear-gradient($couleur-primaire, $couleur-secondaire);
      -webkit-text-fill-color: transparent;
      background-clip : text;
      transition-duration: 0.5s;
    }
  }
}

.footer-container h3{
  @include font-Shrikhand;
  margin-left: 1.5rem;
}

.fas.fa-utensils{
  margin-right: 1rem;
}

.fas.fa-hands-helping{
  margin-right: 0.5rem;
}


// PAGES RESTAURANTS x4
.photos-restaurant {
  text-align: center;
  object-fit: cover;
  height: 17rem;
  width:90%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  }
 

.titres{
 text-align: center;
 margin-bottom: 2rem;
 font-family: "Shrikhand", sans-serif;
 font-weight: 400;
 font-size: 1.5rem;
 padding-top: 2rem;
}

.titres i {
  margin-left: 2.5rem;
}

article section li {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  width: 20rem;
}

.nav-menue h2{
  border-bottom: 4px solid $couleur-tertiaire;
  width: 10%;
  margin-left: 2rem;
  @include font-Roboto
}

.nav-menue article{
 width: 90%;
 height: 4rem;
 margin: auto;
 margin-bottom: 2rem;
 border-radius: 1rem;
 background-color: white;
}

.nav-menue h3{
 padding-top: 0.8rem;
 @include font-Roboto
}
 
.page-restaurants{
 background-color: #F2F2F2;
 border-top-left-radius: 3rem;
 border-top-right-radius: 3rem;
 width: 90%;
 margin: auto;
 margin-top: 13rem;
 padding-bottom: 5rem;
 align-items: center;
 position: relative;

  span{
   @include font-Roboto
  }

  p{
   display: flex;
   justify-content: space-between;
  }   
}

.nav-menue-prix{
 font-weight: bolder;
 margin-right: 1rem;
}

.button-commande a{
 @include button-localisation;
 @include box-shadow;
 padding-right: 4rem;
 padding-left: 4rem;
 @include font-Roboto;
}

.button-commande{
 margin: auto;
 width: 90%;
 text-align: center;
 margin-top: 3.5rem;

  & a:hover{
   @include box-shadow-hover;
   background-clip: padding-box;
   transition-duration: 0.3s;
   opacity: 0.8;
  }
}
 






//teste animation 
.far.fa-check-circle { // a mettre en forme
  display: none;
}




