// 720px

//PAGE ACCEUIL

@media  (min-width: 768px) and (max-width:991.98px){

  .container{
   @include responsive-medium ;
  }
  
  .fonctionnement{
    .fonctionnement-titre{
     margin-bottom: 2rem;
     margin-left: 3.5rem ;
    }
  }

  .fonctionnement-nav ol{
   display: flex;
   flex-direction: row;  
   justify-content: center;
  }
 
  .fonctionnement li{
   margin-right: 1rem;
   margin-left: 1rem;
   width: 10rem;

  }

  .restaurants{
   border-radius: 0% !important;
  }

  // PAGES RESTAURANTS

  .nav-menue{
   width: 100%;
  }

  img.photos-restaurant{
   width: 720px !important;
  }
}

