
// MIXINS RESPONSIVE

@mixin responsive-xsmall {
 width: 90%;
 margin: auto;
 display: flex;
 flex-direction: column;

}

@mixin responsive-small {
 width: 540px!important;
 margin: auto;
 padding: 0;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}


@mixin responsive-medium {
 width: 720px !important;
 margin: auto;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

@mixin responsive-large {
 width: 960px !important;
 margin: auto;
 display: flex;
 flex-wrap: wrap;
}

@mixin responsive-xlarge {
 width: 1140px!important;
 margin: auto;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}


// MIXINS PHOTOS
@mixin img-size {
 height: 8rem;
 width: 100%;
 border-radius: 15px 15px 0px 0px ;
 object-fit: cover;
}

// MIXIN TYPO
@mixin font-Roboto {
 font-family:'Roboto', sans-serif;
}

@mixin font-Shrikhand
{
 font-family: 'Shrikhand' , sans-serif;
 font-weight: 400;
}

@mixin box-choix {
 background-color: white;
 border-radius: 1rem;
 padding: 1rem;
 margin: 1rem;
 text-align: left;
 width: 20rem;
}

@mixin button-localisation {
 background: linear-gradient(to bottom right,#FF79DA ,#9356DC);
 color: white;
 padding: 0.9rem;
 margin-bottom: 2rem;
}
   
@mixin button-fonctionnement{
 background-color: #f2f2f2;
 border-radius: 30px;
 padding: 0.9rem;
margin-bottom: 2rem;
}
   
@mixin box-shadow {
 box-shadow: 5px 10px 5px 0px #656565;
 border-radius: 20px;
 background-color: white;
}
   
@mixin box-shadow-hover{
 box-shadow: 5px 20px 5px 0px #656565; 
 border-radius: 20px;
}